# dependencies
node_modules
package-lock.json
data

# build & coverage output
dist
build
coverage
apps/desktop/pack
apps/desktop/release
apps/desktop/resources/bin
apps/desktop/resources/.cache

# generated type declarations
# allow our liba.shared-types to be formatted
# *.d.ts

# other files
*.md